.products__titles {
    margin: 100px 0 25px 0;
}

.products__titles h3 {
    text-align: center;
    color: rgb(10, 10, 10);
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: .4px;
    text-transform: uppercase;
    font-family: var(--bold);
}

.products {
    margin:30px 16px!important;
}

.products__name h4 {
    color: rgb(10, 10, 10);
    font-size: 20 px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-align: center;
}

/* PRODUCTS */


@media screen and (min-width: 1024px) {

    .products__titles h3 {
        font-size: 40px;
    }

    .products__titles {
        margin: 173px 0 85px 0;
    }

    .products__name h4 {
        font-size: 28px;
    }

}